body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
.App {
  /* Setting height to 300vh to simualte content 
     and being able to scroll */
  height: 300vh;
  background-color: lightseagreen;
}
